* {
    margin:0;
    padding:0;
}
#toDo {
    background-color: bisque;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10%;
}

header {
    font-size: 30px;
    padding-bottom: 20px;
}

